/*
	The7 by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/*
wrap
h2
content address
content
background
[Table of content]
content
1. General Styling
2. Header
3. Home Slider, Parallax & Video
4. Services Section
5. Work Section
6. Logo Carousel
7. CLient Carousel
8. Blog Section
9. Pricing Section
10. Contact & Comment Forms
11. Footer
12. Loader
13. Clearfix
navigation
[Color codes]
Green #1abc9c
Dark Blue #16a085
Grey #ECF0F1
header-home
services
*/

/* *********************************************************
  General Styling
********************************************************* */


.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 23%;
  perspective: 1000px;
  margin-bottom: 2rem;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 300px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.card-back {
  position: absolute;
  width: 105%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-back {
  /*background-color: #2C2D31;*/
  background-color: #ECF0F1;
  color: #000000;
  transform: rotateY(180deg);
  font-size: large;
  font-style: normal;
  font-family: "Gill Sans Nova Ultra Bold";
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-front {
  background-color: #FFFFFF;
  color: #fff;
}

.card-front img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.card-back .card-text {
  text-align: left; /* Ensure text is aligned to the left */
}



@media (min-width: 0px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 300px) {
  .card {
    width: 60%;
  }
}

/*@media (max-device-height: 600px) {*/
/*  .card {*/
/*    width: 48%;*/
/*  }*/
/*}*/

@media (min-width: 1024px) {
  .card {
    width: 23%;
  }
}

@media (min-width: 1660px) {
  .card {
    width: 20%;
  }

}@media (min-width: 2048px) {
  .card {
    width: 20%;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

.customColor {
  background: #660099;
}

.wrap {
  width: 100%;
  /*background: #660099;*/
  padding: 3.5em 0;
  /*padding: 0.5em 0;*/
}
.wrap-social-footer {
  width: 100%;
  /*padding: 0.5em 0;*/
}

.grey {
  background: #ECF0F1;
  padding: 100px 0 150px;
}

a {
  color:#1abc9c;
}

a:hover {
  color: #16a085;
}

a, img, .overlay, input, textarea, .plan-wrap p, .filters .filter {
/*transition*/
  -webkit-transition: all .12s linear;
     -moz-transition: all .12s linear;
       -o-transition: all .12s linear;
          transition: all .12s linear;
}

body {
  font-size: 1em;
  line-height: 1.7em;
  color: #777777;
  font-weight: normal;
}

body, input, textarea {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6, .navigation a, .btn, .filters .filter {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  position: relative;
  margin: 1em 0 1.4em;
  color: #484f58;
}

h1,h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 3em;
  line-height: 1.2em;
}

h2 {
  font-size: 2.8em;
  line-height: .9em;
}

h3 {
  font-size: 1.8em;
  line-height: .9em;
}

h4,h5,h6 {
  font-size: 1.125em;
  line-height: .5em;
}

blockquote {
  line-height: 1.2em;
  display: inline-block;
  margin: 1.3em 0;
  padding: 2px 20px 0 20px;
  border-left: 3px solid #e8e8e8;
}

blockquote p {
  margin-bottom: 0 !important;
}

.pleft-25 {
  padding-left: 25px;
}

.pright-25 {
  padding-right: 25px;
}

.curveUpColor, .curveDownColor {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  position: absolute;
  left: 0;
  z-index: 1;
}

.curveUpColor {
  margin-top: -100px;
}

.curveUpColorCustom {
  fill: #2C2D31;
  stroke: #2C2D31;
  position: absolute;
  left: 0;
  z-index: 1;
  margin-top: -100px;
}

.curveDownColor {
  margin-bottom: -100px;
}

.curveMapUp {
  margin-top: 52px;
}

.curveMapDown {
  margin-top: -238px;
}

.curveGrey {
  fill: #ECF0F1;
  stroke: #ECF0F1;
}

/* *********************************************************
  Buttons
********************************************************* */

.btn {
  position: relative;
  display: inline-block;
  margin: .8em 0;
  padding: .5em 1.6em;
  color: #fff;
  font-size: .8em;
/*border-radius*/
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  background:#1893F8;
}

.btn:hover, .btn:focus, .btn-current {
  color: #fff;
  background: #660099;
}

.btn:hover, .social-set a:hover, .team-social a i:hover, .header-carousel .owl-buttons .owl-prev:hover, .header-carousel .owl-buttons .owl-next:hover {
  -webkit-animation: rubberBand .8s 1;
     -moz-animation: rubberBand .8s 1;
       -o-animation: rubberBand .8s 1;
          animation: rubberBand .8s 1;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.15, 0.9, 1);
    transform: scale3d(1.15, 0.9, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.15, 1);
    transform: scale3d(0.8, 1.15, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
 0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.15, 0.9, 1);
    transform: scale3d(1.15, 0.9, 1);
  }

  40% {
    -webkit-transform: scale3d(0.8, 1.15, 1);
    transform: scale3d(0.8, 1.15, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

.btn-big {
  font-size: 1.4em;
  padding: .65em 2.2em;
}

.btn-price {
  width: 80%;
  margin: 1.5em 0 1.8em;
  padding: .5em;
  letter-spacing: 2px;
}

.btn-disabled, .btn-disabled:hover, .btn-disabled:focus {
  cursor: default;
  color: #bbb;
  background: #e6e6e6;
}

.btn-ghost {
  margin: 10px;
  color: #FFFFFF;
  /*border: 2px solid #660099;*/
  background-color: #1893F8;
}

.btn-ghost:hover {
  border-color: transparent;
  background-color:#660099;
}


.btn-ghost-dark {
  border-color: #1abc9c;
  color: #1abc9c;
}

/* *********************************************************
  Header
********************************************************* */

#top-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding: 23px 0;
  overflow: hidden;
/*transition*/
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

#top-header .grid {
  overflow: visible;
}

.logo {
  display: flex;
  float: left;
  width: 124px;
  height: 40px;
  text-indent: -9999px;

  background: url(images/logo.svg) no-repeat;
  /*background-size: 144px 76px;*/
}

.logo:hover, .logo:focus {
  -webkit-animation: rubberBand 0.5s 1;
     -moz-animation: rubberBand 0.5s 1;
       -o-animation: rubberBand 0.5s 1;
          animation: rubberBand 0.5s 1;
}


.header-default {
  /*background: #2C2D31;*/
  background: #1893F8 ;
}

.header-home {
  background: transparent;
/*box-shadow*/
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

}

.header-home .navigation a {
  color: #000000;
  font-size: larger;
}

.top-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 750px;
}

.slider {
  height: 100%;
}

.top-slider .content-header {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
/*transform*/
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
       -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.background-video {
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  overflow: hidden;
}

/* *********************************************************
  Navigation
********************************************************* */

.navigation label {
  display: none;
  cursor: pointer;
}

.navigation {
  position: relative;
  /*float: right;*/
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
}

.navigation ul li {
  position: relative;
  display: inline;
  float: left;
}

.navigation a {
  font-size: larger;
  display: block;
  margin-left: 20px;
  padding-bottom: 3px;
  color: #000000;
}

.navigation .current a, .navigation ul li a:hover, .navigation ul li a:focus {
  color: #000000;
  font-weight: bold;
}

.navigation .sub-menu {
  position: absolute;
  z-index: 9999;
  top: 28px;
  left: -27px;
  visibility: hidden;
  width: 210px;
  padding: 20px;
/*transition*/
  -webkit-transition: all .1s linear;
     -moz-transition: all .1s linear;
       -o-transition: all .1s linear;
          transition: all .1s linear;
  opacity: 0;
  border-top: 1px solid#1abc9c;
  background: #fff;
/*box-shadow*/
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
}

.navigation .sub-menu li {
  position: relative;
}

.sub-menu li a {
  width: fit-content;
  margin: 0;
  padding: .5em 1em;
  border-bottom: none;
/*border-radius*/
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.sub-menu li a:hover {
  background: #f9f9f9;
}

.navigation li:hover > ul {
  visibility: visible;
  opacity: 1;
}

/* *********************************************************
  Parallax
********************************************************* */



/*.parallax-section {*/
/*  z-index: -1;*/
/*  clear: both;*/
/*  background-image: url('images/3.png');*/
/*  background-repeat: repeat;*/
/*  background-attachment: fixed;*/
/*  background-position: center center;*/
/*}*/

.parallax-section {
  z-index: -1;
  clear: both;
  background-image: url('images/1920X1080.png');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.parallax2 {
  background-image: url('images/parallax2.jpg');
}

.parallax-section .content, .top-slider .content-header, .home-slider {
  margin: 0 auto;
  text-align: center;
}

.parallax-section .content-header, .home-slider .content-header {
  padding: 145px 0 250px;
}

.parallax2 .content {
  padding: 100px 0;
}

.top-slider .content-header {
  padding: 130px 0;

}

.parallax-section .content h2,
.content-header h2,
.parallax-section .content h3,
.content-header h3 {
  color: #000000;
  font-weight: initial;
}

.parallax-section h2 > span,
.parallax-section h3 > span,
.content-header h2 > span,
.content-header h3 > span {
  background: #fff;
}

.parallax-section .content h2, .content-header h2 {
  font-size: 2.5em;
}

.parallax-section .content p, .top-slider .content-header p, .home-slider {
  width: 70%;
  margin: 0 auto 30px auto;
  color: #000000;
}
.content p {
  font-size: 1.7em;
  line-height: 1.0em;
  width: 70%;
  margin: 0 auto 30px auto;
  color: #000000;
}

/* *********************************************************
  Services Section
********************************************************* */

.services, .service-box {
  text-align: center;
}

.service-icon {
  margin-top: 20px;
  padding-top: 1em;
}

.circle-icon {
  display: inline-block;
  font-size: 2em;
  padding: 1.1em 1.15em;
  color: #484f58;
/*border-radius*/
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  background: transparent;
/*box-shadow*/
  -webkit-box-shadow: 0 0 0 2px #484f58;
     -moz-box-shadow: 0 0 0 2px #484f58;
          box-shadow: 0 0 0 2px #484f58;
/*transition*/
  -webkit-transition: all .15s linear;
     -moz-transition: all .15s linear;
       -o-transition: all .15s linear;
          transition: all .15s linear;
}

.service-box:hover .circle-icon {
    /*box-shadow*/
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}

.service-entry {
  margin-top: 70px;
  padding: 0 .5em;
}

.service-entry p {
  margin-bottom: 10px;
}


/* *********************************************************
 Info Counter
********************************************************* */

.info-counter-icon {
  font-size: 4em;
  color: #1abc9c;
}

.info-counter-content, .info-counter-content h5 {
  color: #fff;
  font-size: 1.2em;
}

.info-counter-text {
  opacity: .7;
  font-size: 0.8em;
}

.contact {
  padding-top: 100px;
}

.contact h2 {
  text-align: center;
  margin-top: 0;
}

.contact .address h3 {
  margin-top: 0;
}

address {
  margin-top: 3em;
}

address div {
  position: relative;
  margin-top: 20px;
}

address i {
  position: absolute;
  top: 2px;
  left: 0;
}

.address span {
  line-height: 1.1;
  margin-bottom: 3px;
  color: #484f58;
  font-size: 1.125em;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.phone {
  line-height: 30px;
}

.box-icon {
  border-right: 2px solid #ebebeb;
  float: left;
  font-size: 1.4em;
  height: 45px;
  line-height: 40px;
  margin: 0 20px 0 0;
  width: 40px;
}

.box-icon i {
  line-height: 45px;
  color: #1893F8;
}

/* Form, Comments and Contact */

.comments, .form {
  padding: 0em 3em;
}

.leave-comment {
  width: 80%;
  margin: 0 auto;
}

.contact-form .form {
  padding: 0;
}

.comments {
  margin: 0 0 1em;
  text-align: left;
}

ul.nested-comments  ul li {
  margin: 1em 3em;
}

.comment p {
  margin-left: 76px;
}

.comment {
  margin-bottom: 1em;
  padding: 1em 0;
}

.comment-avatar {
  float: left;
  width: 60px;
  height: auto;
  margin-right: 1em;
}

.comment-meta span {
  font-size: .8em;
  color: #999;
}

.comment-meta .mid-sep {
  padding: 0 2px;
}

.avatar {
  width: 60px;
  height: 60px;
/*border-radius*/
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
}
/* Inputs */

input:not([type=submit]):not([type=file]), textarea {
  width: 100% !important;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  border: 2px solid #ebebeb;
/*border-radius*/
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  background: white;
  box-shadow: 0px 0px 0px 2px transparent;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus {
  /*border-color:#1abc9c;*/
  border-color: #1893F8;
  outline: none;
}

textarea {
  max-width: 100%;
  min-height: 150px;
  padding: 15px;
}

.submit {
  font-size: 1.1em;
  position: relative;
  width: 190px;
  height: 45px;
  margin-bottom: 2em;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  border: 0;
  float: right;
}

.submit:active {
  outline: none;
}

.leave-comment {
  margin-top: 3em;
}

input:not([type=submit]):not([type=file]):focus, textarea:focus {
  -webkit-animation: rubberBand 0.5s 1;
     -moz-animation: rubberBand 0.5s 1;
       -o-animation: rubberBand 0.5s 1;
          animation: rubberBand 0.5s 1;
}


.social-set {
  width: 100%;
  margin: 0 0 .5em;
  padding: 0 0 1em 0;
  text-align: center;
}

.social-set a {
  font-size: 1.5em;
  margin-right: .5em;
  padding: 1em;
}


/* *********************************************************
  Loader
********************************************************* */

.loader-overlay {
  width: 100%;
  height: 100%;
  background: #ECF0F1;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9999;
}

.loader {
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -75px;
  position: absolute;
  top: 50%;
  width: 150px;
}
.loader .bar {
  background-color: #69C98C;
  font-size: 0;
  height: 6px;
  border-radius: 3px;
  opacity: 0;
  width: 25px;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: subtleIn;
  -webkit-animation-timing-function: ease-in-out;
  display: inline-block;
}
.loader .bar:nth-child(1) {
  -webkit-animation-delay: 0s;
}
.loader .bar:nth-child(2) {
  background-color: #1abc9c;
  -webkit-animation-delay: .3s;
}
.loader .bar:nth-child(3) {
  background-color: #1AB4BC;
  -webkit-animation-delay: .6s;
}
.loader .bar:nth-child(4) {
  background-color: #1AA1BC;
  -webkit-animation-delay: .9s;
}
.loader .bar:nth-child(5) {
  background-color: #1A7EBC;
  -webkit-animation-delay: 1.2s;
}

@-webkit-keyframes subtleIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(300%);
    transform: translateY(300%);
  }

  30% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*-------------------------------------------------------------
  Media queries
---------------------------------------------------------------*/

@media handheld, only screen and (max-width: 1200px) {
  #top-header {
    padding: 15px 20px;
  }
  .parallax-section {
    z-index: -1;
    clear: both;
    background-image: url('images/1920X1080.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /*height: 100vh; !* Full screen height *!*/
  }

}

@media handheld, only screen and (max-width: 767px) {
  #top-header {
    position: absolute;
    padding: 8px 0;
  }
  .parallax-section {
    z-index: -1;
    clear: both;
    background-image: url('images/720X1280.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /*height: 100vh; !* Full screen height *!*/
  }

  .logo-wrap {
    float: left;
    width: 100%;
    margin-bottom: .5em;
  }

  #top-header .col-1-1 {
    margin: 0;
  }

  .navigation ul {
    display: none;
    height: 100%;

  }

  .navigation {
    float: right;
  }

  .navigation li {
    width: 100%;
  }

  .navigation a {
    margin-left: 0;
    width: 100% !important;
    display: block;
  }

  .navigation label {
    position: absolute;
    display: block;
    right: 0;
    top: 7px;
    color: #fff;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
  }

  .navigation label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }

  .navigation input[type=checkbox]:checked ~ label:after {
    color: #fff;
  }

  .navigation input[type=checkbox]:checked ~ ul {
    display: block;
  }

  .navigation input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    text-align: left;
    padding: .8em 0;
  }

  .navigation .sub-menu {
    position: relative;
    top: 0;
    left: 0;
    visibility: visible;
    opacity: 1;
    display: block;
    border: none;
    box-shadow: none;
    width: 100%;
  }

  .service-entry {
    margin-bottom: 2.5em;
  }

  #page-sidebar-grid .post-wrap {
    width: 100%;
  }

  .isotope-item {
    width: 100%;
  }

  .single {
    width: 100%
  }

  .overlay i {
    padding: 145px 0;
  }

  .parallax-section .content h2, .content-header h2  {
    font-size: 2em;
  }

  #price-tables #plans .plan {
    width: 100%;
    margin: 0 2% 20px 0;
  }

  #price-tables #plans > li:nth-child(2n) {
    margin-right: 0;
  }
}

@media handheld, only screen and (max-width: 480px) {

  .header-default {
    /*background: #2C2D31;*/
    background: transparent ;
  }

  .content p {
    font-size: 1.0em;
    line-height: 1.0em;
    width: 100%;
    margin: 0 auto 30px auto;
    color: #000000;
    text-align: center;
  }

  h2 {
    font-size: 2.0em;
    line-height: 1.2em;
  }

  .parallax-section {
    z-index: -1;
    clear: both;
    background-image: url('images/720X1280.png');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    /*background-size: cover;*/
    /*height: 100vh; !* Full screen height *!*/
  }

  .header-carousel {
    height: 620px;
  }

  .social-set a {
    padding: 0 !important;
  }

  #page-sidebar-no-sidebar .post-wrap .post {
    padding: 1em !important;
  }

  .post-wrap .post-meta li a {
    margin: 0;
    width: 100%;
    padding: 6px;
  }

  .comments, #leave-comment {
    padding: .6em 1.7em;
  }

  ul.nested-comments li {
    margin: 0 1em;
  }

  ul.nested-comments ul li {
    margin: 0;
  }

  #page-sidebar-no-sidebar .post-wrap {
    width: 100%;
  }

  .parallax-section .content p, .top-slider .content-header p {
    width: 100%;
  }

  .parallax-section .wrap {
    padding: 0;
  }

  .parallax-section .content h2, .content-header h2 {
    font-size: 1.2em;
  }

  .parallax-section .content p, .top-slider .content-header p, .home-slider .content p {
    font-size: 0.8em;
    margin: 0 auto 10px auto;
    line-height: 18px;
}
}